@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: #3D3B40;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
}

.logo-row {
    text-align: center;
}
.logo {
    width: 175px;
    height: 175px;
    text-align: center;
}

nav {
    background-color: #202122;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.navbar a {
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #00ADB5;
    text-decoration: underline;
}

/* Form Styles */
form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #F3F8FF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form label {
    display: grid;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"], form input[type="date"], form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

form input[type="text"]:focus, form input[type="date"]:focus, form input[type="number"]:focus {
    border-color: #18bc9c;
    box-shadow: 0 0 8px rgba(24, 188, 156, 0.5);
}

form button {
    padding: 10px 16px;
    background-color: #00ADB5;
    display: flex;
    justify-content: right;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #16a085;
}

/* Table Styles */
table {
    width: 85%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #F3F8FF;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #527853;
    color: white;
    font-weight: bold;
    min-width: 100px; /* Largura mínima para evitar células muito largas */
}

table td {
    min-width: 80px;
}

table tbody tr:hover {
    background-color: rgba(82, 120, 83, 0.1);
    transition: background-color 0.3s;
}

/* Button Styles */
.delete-btn, .edit-client, .save-client {
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 2px;
}

.delete-btn {
    background-color: #e92c17;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.edit-client {
    background-color: #3498db;
}

.edit-client:hover {
    background-color: #2980b9;
}

.save-client {
    background-color: #2ecc71;
}

.save-client:hover {
    background-color: #27ae60;
}

/* Barra de Pesquisa */
#clientSearchInput, #productFilter {
    width: 50%;
    padding: 8px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F3F8FF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#clientSearchInput:focus, #productFilter:focus {
    border-color: #18bc9c;
    outline: none;
    box-shadow: 0 0 8px rgba(24, 188, 156, 0.5);
}

/* Totals Cards */
.totals-cards {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    gap: 10px;
    padding: 10px;
    max-width: 85%;
    flex-wrap: wrap;
}

.card {
    background-color: #2e2e34;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-width: 200px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card span {
    font-size: 28px;
    color: #007bff;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    margin: 10px 0;
    color: #f0f0f0;
}

.card h2 {
    font-size: 24px;
    margin: 0;
    color: #00c42e;
}
/* Transaction Buttons */
#transactionButtons {
    display: flex;
    gap: 12px;
    margin-bottom: 17px;
    justify-content:left;
}

.transaction-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ccc;
    color: white;
    transition: background-color 0.3s ease;
}

.transaction-btn:hover {
    background-color: #18bc9c;
}

.transaction-btn.active {
    background-color: #00ADB5;
    box-shadow: 0 0 10px rgba(0, 173, 181, 0.5);
    border: 1px solid #18bc9c;
}

/* Footer */
footer {
    text-align: center;
    padding: 0;
    background-color: transparent;
    color: white;
    position: static;
    width: 100%;
    bottom: 0;
    font-size: 13px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .totals-cards {
        flex-direction: column;
        align-items: center;
    }

    form {
        padding: 20px;
    }

    table {
        width: 100%;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}







  







  
