@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background: #1E1E1E;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

h1, h2 {
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
}

.logo-row {
    text-align: center;
    margin-top:1%;
}
.logo {
    width: 170px;
    height: 110px;
    text-align: center;
}

nav {
    background-color: #202122;
    padding: 1px 0 0 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar {
    list-style: none;
    margin: none;
    padding: 5px 0 0 1px;
    display: flex;
    gap: 20px; /* Espaçamento entre os itens da navbar */
    justify-content: center;
}

.navbar a {
    font-family: 'Montserrat', sans-serif;
    display: flex; /* Flex para alinhar o ícone com o texto */
    align-items: center; /* Centraliza verticalmente o texto e o ícone */
    gap: 8px; 
    padding: 15px;
    padding-top: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a span.material-icons {
    font-size: 24px; /* Define um tamanho adequado para o ícone */
}

.navbar a:hover {
    color: #00ADB5;
    text-decoration: none;
}

/* Form Styles */
form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #F3F8FF;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form label {
    display: grid;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"], form input[type="date"], form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
}

form input[type="text"]:focus, form input[type="date"]:focus, form input[type="number"]:focus {
    border-color: #18bc9c;
    box-shadow: 0 0 8px rgba(24, 188, 156, 0.5);
}

form button {
    padding: 10px 16px;
    background-color: #00ADB5;
    display: flex;
    justify-content: right;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #16a085;
}

/* Table Styles */
table {
    width: 78%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #F3F8FF;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #527853;
    color: white;
    font-weight: bold;
    min-width: 100px; /* Largura mínima para evitar células muito largas */
}

table td {
    min-width: 80px;
}

table tbody tr:hover {
    background-color: rgba(82, 120, 83, 0.1);
    transition: background-color 0.3s;
}

.client-link {
    text-decoration: none;
    /* Remove sublinhado padrão */
    font-weight: bolder;
    /* Peso médio para não ficar exagerado */
    color: #333;
    /* Azul sutil */
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 2px solid transparent;
    /* Cria um efeito de sublinhado ao passar o mouse */
}

.client-link:hover {
    color: #2c81ba;
    /* Azul um pouco mais escuro no hover */
    border-bottom: 2px solid #2c81ba;
    /* Aparece um sublinhado no hover */
}

/* Button Styles */
.delete-btn, .edit-client, .save-client {
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 2px;
}

.delete-btn {
    background-color: #e92c17;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.edit-client {
    background-color: #3498db;
}

.edit-client:hover {
    background-color: #2980b9;
}

.save-client {
    background-color: #2ecc71;
}

.save-client:hover {
    background-color: #27ae60;
}

/* Barra de Pesquisa */
#clientSearchInput, #productFilter {
    width: 50%;
    padding: 8px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F3F8FF;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#clientSearchInput:focus, #productFilter:focus {
    border-color: #18bc9c;
    outline: none;
    box-shadow: 0 0 8px rgba(24, 188, 156, 0.5);
}

/* Totals Cards */
.totals-cards {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    gap: 10px;
    padding: 10px;
    max-width: 85%;
    flex-wrap: wrap;
}

.card {
    background-color: #333333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-width: 200px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card span {
    font-size: 28px;
    color: #007bff;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 10px 0;
    color: #f0f0f0;
}

.card h2 {
    font-size: 24px;
    font-family: "Be Vietnam Pro", sans-serif;
    margin: 0;
    color: #00c42e;
}
/* Transaction Buttons */
#transactionButtons {
    display: flex;
    gap: 12px;
    margin-bottom: 17px;
    justify-content:left;
}

.transaction-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    background-color: #ccc;
    color: white;
    transition: background-color 0.3s ease;
}

.transaction-btn:hover {
    background-color: #18bc9c;
}

.transaction-btn.active {
    background-color: #00ADB5;
    box-shadow: 0 0 10px rgba(0, 173, 181, 0.5);
    border: 1px solid #18bc9c;
}

/* Footer */
footer {
    text-align: center;
    padding: 1px;
    background-color: #202122;
    color: white;
    position: static;
    width: 100%;
    bottom: 0;
    font-size: 11px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .totals-cards {
        flex-direction: column;
        align-items: center;
    }

    form {
        padding: 20px;
    }

    table {
        width: 100%;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Estilo para o container de filtros */
/* Container de Filtros */
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Alinha os elementos ao centro */
    align-items: center; /* Alinha verticalmente os itens */
    gap: 15px; /* Espaçamento horizontal entre os filtros */
    margin: 20px auto;
    padding: 10px;
    background-color: #333333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 85%;
    color: white;
}

/* Estilo para a seção de filtros de data */
.filter-date {
    display: flex;
    flex-direction:initial; /* Organiza os elementos na vertical */
    align-items: center; /* Alinha os elementos à esquerda */
    gap: 10px; /* Espaçamento entre os itens */
    margin-left: 20px; /* Espaçamento em relação aos outros filtros */
}

/* Inputs de data */
.filters input[type="date"] {
    padding: 8px;
    margin: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    background-color: #F3F8FF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    width: auto; /* Deixa o tamanho ajustável */
    min-width: 160px; /* Define uma largura mínima */
}

.filters input[type="date"]:focus {
    border-color: #18bc9c;
    outline: none;
    box-shadow: 0 0 8px rgba(24, 188, 156, 0.5);
}

/* Botão de filtro */
.filters button {
    padding: 10px 16px;
    background-color: #00ADB5;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.filters button:hover {
    background-color: #16a085;
    transform: scale(1.05);
}

/* Ajustes para responsividade */
@media (max-width: 768px) {
    .filters {
        flex-direction: column; /* Alinha os filtros em coluna */
        gap: 10px; /* Reduz o espaçamento */
        width: 100%; /* Ajusta largura para preencher o espaço */
    }

    .filters input[type="date"], .filters button {
        width: 100%; /* Os inputs e botões ocupam toda a largura */
    }
    table {
        font-size: 8px; /* Reduz o tamanho do texto */
        min-width: 600px; /* Garante largura mínima */
        gap:2px;
    }

    #clientHistoryTable td, #clientHistoryTable th {
        padding: 2px 4px; /* Espaçamento ainda menor em telas menores */
        font-size: 10px; /* Texto ainda menor */
    }
    .delete-btn, .edit-client, .save-client {
        font-size: 10px; /* Reduz o tamanho do texto */
        padding: 4px 8px; /* Ajusta o padding */
    }

    .totals-cards {
        flex-direction: column; /* Coloca os cartões em coluna */
        align-items: stretch; /* Estica os cartões para preencher o espaço */
    }

    .card {
        margin-bottom: 10px; /* Adiciona espaço entre os cartões */
    }

}

.table-wrapper {
    overflow-x: auto; /* Permite o scroll horizontal */
    margin: 0 auto; /* Centraliza a tabela */
}


.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.alert-box {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.alert-box p {
    margin: 0 0 15px;
    font-size: 18px;
    color: #333;
}

.alert-button {
    background-color: #4CAF50; /* Cor do botão */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.alert-button:hover {
    background-color: #45a049;
}



.tooltip-container {
    position: relative;
    display: block;
}

.tooltip-icon {
    font-size: 17px;
    cursor:default;
    color: #4CAF50;
    /* Azul para destacar */
}

.tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-bottom: 10px;
}

.checkbox-wrapper span {
    font-size: 15.5px;
    /* Ajusta o tamanho do texto */
    font-weight: light;
    /* Negrito para o texto */
    color: #333;
    /* Cor do texto */
    cursor: text;
}

.checkbox-wrapper input[type="checkbox"] {
    accent-color: #4CAF50;
    /* Cor do checkbox */
    transform: scale(1.25);
    /* Aumenta o tamanho do checkbox */
    cursor: pointer;
    /* Faz o checkbox clicável */
}









  







  
